.description-box {
    background-color: rgb(129, 7, 72);
    padding: 2px;
    color: aliceblue;
    border-radius: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.description-box-border {
    border-bottom: 2px black solid;
    border-top: 2px black solid;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5px;
}