.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

button {
  cursor: pointer;
  height: 36px;
  font-size: medium;
  border-radius: 5px;
  transition-duration: 0.4s;
  background-color: white;
}

button:hover {
  background-color: rgb(216, 1, 1);
  color: white;
}

.button-search {
  margin-left: 5px;
}


h1 {
  color: rgb(255, 203, 5);
  -webkit-text-stroke: 3px rgb(42, 117, 187);
  letter-spacing: 4px;
  font-size: 70px;
  font-family: Pokemon;
  background-color: rgb(216, 1, 1);
  margin: 0;
}


@font-face {
  font-family: "Pokemon";  
  src: local("PokemonSolid"),
    url("./fonts/PokemonSolid.ttf") format("truetype");
}

input {
  width: 200px;
  height: 30px;
  font-size: medium;
  border-radius: 5px;
  border-style:double;
  border-color: black;
}

input:focus {
  background-color: #f2f2f3;
}

.error {
  color: red;
  margin-top: 5px;
  font-style: oblique;
  font-weight: bold;
}

