.button-light {
    border-radius: 12px;
    border-color: black;
    color: white;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    right: 1%;
    margin-top: 5px;
}

.button-dark {
    border-radius: 12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    right: 1%;
    margin-top: 5px;
}