.Translation{
    display:flex;
    justify-content: center;
    flex-direction: row;
    white-space: pre;
    text-align: center;
    font-size: calc(15px + 2vmin);
}

.Translation.light{
    color: black;
}    

.Translation.dark{
    color: white;
}
