
.logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 60vw;
    flex-wrap: wrap;
    justify-content: center;

}


.image-type {
    margin-top: 50px;
    border-radius: 50%;
    display: flex;
    height: 120px;
    width: 120px;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.image-type:hover {
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
    cursor: pointer;
}


.image-type.normal {
    background-color: grey;
}

.image-type.fire {
    background-color: orange;
}

.image-type.water {
    background-color: rgb(25, 124, 236);
}

.image-type.grass {
    background-color: green;

}
.image-type.flying {
    background-color: rgb(76, 112, 211);
}

.image-type.fighting {
    background-color: red;
}

.image-type.poison {
    background-color: blueviolet;
}

.image-type.electric {
    background-color: rgb(255, 238, 0)
    ;
}

.image-type.ground{
    background-color: brown;
}

.image-type.rock {
    background-color: wheat;
}

.image-type.psychic {
    background-color: rgb(212, 98, 146);
}

.image-type.ice {
    background-color: aqua;
}

.image-type.bug {
    background-color: greenyellow;
}

.image-type.ghost {
    background-color: rgb(32, 2, 116);
}

.image-type.steel {
    background-color: rgb(20, 87, 87);
}

.image-type.dragon {
    background-color: rgb(1, 86, 134);
}

.image-type.dark {
    background-color: rgb(71, 71, 71);
}
.image-type.fairy {
    background-color: violet;
}

