
.app {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

.app.light {
  background-color: white;
}

.app.dark {
  background-color: black;
}

.heading {
  font-size: calc(40px + 2vmin);
  font-family: 'Courier New', Courier, monospace;
  margin-top: 70px;
}

.heading.light {
  color: black;
}

.heading.dark {
  color: white
}

.input {
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
  border: 3px solid black;
  height: 30px;
}

input:focus {
  background-color: yellow;
}

.error-message {
  color : red;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}




