
.main-app-light {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

.error-message-light {
  color : red;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.heading-light {
  font-size: calc(40px + 2vmin);
  font-family: 'Courier New', Courier, monospace;
  margin-top: 70px;
}

.input-light {
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
  border: 3px solid black;
  height: 30px;
}

input:focus {
  background-color: yellow;
}

.main-app-dark {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: black;
  height: 100vh;
}

.error-message-dark {
  color : red;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.heading-dark {
  font-size: calc(40px + 2vmin);
  font-family: 'Courier New', Courier, monospace;
  color: antiquewhite;
  margin-top: 70px;
}

.input-dark {
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
  border: 3px solid black;
  height: 30px;
}
